:root {
    --background-color: steelblue;
    --text-light: white;
    --border-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;

}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 85px;
}

footer {
    margin-top: 15px;
    border-top: 1px var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}