.callout {
    max-width: 400px;
    margin: 20px;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 20px;
    background-color: #247;
    color: white;
    
	
}

.callout img {
    float: right;
    margin: 0px 0px 10px 15px;
    border: 1px solid black;
    padding: 6px;
    background-color: grey;
    width: 100px;
    height: auto;
	
}

blockquote {
    margin: 0;
	
}

cite {
    display: block;
	border-top: 1px dotted rgb(255 255 255 / 60%);
    padding-top: 10px;
    text-align: right;
    font-size: 0.9rem;

}